---
http_interactions:
- request:
    method: post
    uri: https://bugcrunch.atlassian.net/rest/api/2/issue/
    body:
      encoding: UTF-8
      string: '{"fields":{"project":{"key":"SSP"},"summary":"test rspec title","description":"","issuetype":{"name":"Bug"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2VhbitjcnVuY2hAdmFubXVsbGlnZW4uY2E6dWl0Njd1aXk2Nw==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - 984x6757x1
      X-Ausername:
      - admin
      X-Atenant-Id:
      - bugcrunch.atlassian.net
    body:
      encoding: UTF-8
      string: '{"id":"10148","key":"SSP-33","self":"https://bugcrunch.atlassian.net/rest/api/2/issue/10148"}'
  recorded_at: Sun, 07 May 2017 23:24:10 GMT
recorded_with: VCR 3.0.3
